<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8cyvm5dp0tBSOjKl635NI1RpK921aDag</string>
	<key>GCM_SENDER_ID</key>
	<string>1085167141755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.voajrgroup</string>
	<key>PROJECT_ID</key>
	<string>voajrgroup</string>
	<key>STORAGE_BUCKET</key>
	<string>voajrgroup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085167141755:ios:0d4e7c85a5e03c98aa73de</string>
</dict>
</plist>